.container {
  width: 941px;
  height: auto;
  margin-top: 28px;
  margin-bottom: 28px;
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 12px 0 #00000026;
  font-family: 'Inter Regular', sans-serif;
  overflow-wrap: break-word;
}
